<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Create New Password</h1>

    <table align="center" border="1" >

        <form method="POST">

            {% csrf_token %}

            <tr>
                <td>Enter New Password</td>
                <td><input type="password" name="password1" placeholder="Enter New Password"></td>
            </tr>
            

            <tr>
                <td>Confirm New Password</td>
                <td><input type="password" name="password2" placeholder="Confirm New Password"></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" name="submit" value="Submit"></td>
            </tr>
        </form>
    </table>

    <h3 align="center"> {{ error }} </h3>
</body>
</html>